<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron text-center mt-5 bg-primary text-white">
    <h2>Welcome to the Photo Management App!</h2>
    <p class="lead">
      You'll love managing your Photos with our application. Sign up!
    </p>
  </div>

  <div class="d-flex flex-row justify-content-around">
      <div class="col-3">
        <h2 class="text-center">Premium Plan</h2>
        <div class="price pull-right">
          Price: $10
        </div>
        <div>
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
          </ul>
        </div>
        <p class="text-center">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
      <div class="col-3">
        <h2 class="text-center">Amaze Plan</h2>
        <div class="price pull-right">
          Price: $20
        </div>
        <div>
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='h4'>Unlimited projects</li>
          </ul>
        </div>
        <p class="text-center">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
  </div>
<% end %>

